In [1]:
import pandas as pd

In [2]:
true_data=pd.read_csv('true.csv')

In [3]:
fake_data=pd.read_csv("fake.csv")

In [4]:
true_data["label"]=["real"]*len(true_data)

In [5]:
fake_data["label"]=["fake"]*len(fake_data)

In [6]:
data=pd.concat([true_data,fake_data])

In [7]:
len(data)

44898

In [8]:
data=data[["title","label"]]

In [9]:
data.head()

                                               title label
0  As U.S. budget fight looms, Republicans flip t...  real
1  U.S. military to accept transgender recruits o...  real
2  Senior U.S. Republican senator: 'Let Mr. Muell...  real
3  FBI Russia probe helped by Australian diplomat...  real
4  Trump wants Postal Service to charge 'much mor...  real

In [10]:
data['label_num']=data["label"].apply(lambda x: 1 if x=='real' else 0)

In [11]:
data

                                                   title label  label_num
0      As U.S. budget fight looms, Republicans flip t...  real          1
1      U.S. military to accept transgender recruits o...  real          1
2      Senior U.S. Republican senator: 'Let Mr. Muell...  real          1
3      FBI Russia probe helped by Australian diplomat...  real          1
4      Trump wants Postal Service to charge 'much mor...  real          1
...                                                  ...   ...        ...
23476  McPain: John McCain Furious That Iran Treated ...  fake          0
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...  fake          0
23478  Sunnistan: US and Allied ‘Safe Zone’ Plan to T...  fake          0
23479  How to Blow $700 Million: Al Jazeera America F...  fake          0
23480  10 U.S. Navy Sailors Held by Iranian Military ...  fake          0

[44898 rows x 3 columns]

In [12]:
import spacy

In [13]:
nlp=spacy.load("en_core_web_lg")

In [16]:
data['title_vec']=data['title'].apply(lambda x:nlp(x).vector)

In [17]:
data

,title,label,label_num,title_vec
0,"As U.S. budget fight looms, Republicans flip t...",real,1,"[-2.0529835, -0.569027, -3.1433282, 0.55970275..."
1,U.S. military to accept transgender recruits o...,real,1,"[-1.4419098, 2.333012, -2.0302525, 2.1737072, ..."
2,Senior U.S. Republican senator: 'Let Mr. Muell...,real,1,"[0.557869, 2.2574153, 0.1913623, -0.041898414,..."
3,FBI Russia probe helped by Australian diplomat...,real,1,"[-1.4035959, 0.07810003, -0.17810063, 2.512658..."
4,Trump wants Postal Service to charge 'much mor...,real,1,"[0.010546171, 1.6784946, -0.5903046, 0.4184245..."
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,fake,0,"[-1.2280062, -0.20732655, 0.21695367, 1.777606..."
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,fake,0,"[-2.5500412, -1.6628319, -1.3928968, 3.5221353..."
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,fake,0,"[-0.61292523, 0.92750365, 0.5579007, 1.1630958..."
23479,How to Blow $700 Million: Al Jazeera America F...,fake,0,"[0.08539355, 1.8890979, -3.357403, 1.223398, 1..."
23480,10 U.S. Navy Sailors Held by Iranian Military ...,fake,0,"[-3.4384334, -2.0513124, -1.0778645, 1.9279168..."

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(data.title_vec,data.label_num,test_size=0.2)

In [31]:
type(x_train)

pandas.core.series.Series

In [36]:
import numpy
x_train_2d=numpy.stack(x_train)
x_test_2d=numpy.stack(x_test)

In [32]:
type(x_train_2d)

numpy.ndarray

In [37]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import MinMaxScaler


scale=MinMaxScaler()

In [38]:
x_train_scaled=scale.fit_transform(x_train_2d)
x_test_scaled=scale.fit_transform(x_test_2d)

In [39]:
model=MultinomialNB()

In [41]:
model.fit(x_train_scaled,y_train)

MultinomialNB()

In [45]:
from sklearn.metrics import classification_report

print(classification_report(y_test,model.predict(x_test_scaled)))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98      4654
           1       0.98      0.97      0.97      4326

    accuracy                           0.98      8980
   macro avg       0.98      0.98      0.98      8980
weighted avg       0.98      0.98      0.98      8980

In [53]:
x="narendra modi is not going to get married in coming days"
y=[nlp(x).vector]
type(y)

list

In [60]:
model.predict([x_test[6798]])

array([1], dtype=int64)

In [61]:
y_test[6798]

1